body {
    margin: 0px;
    padding: 0px;
}
[class|=col] {
    border: 1px solid;
    border-color: red;
}
.grid {
    float: left;
    height: 120px;
    width: 120px;
    border: 1px solid;
    min-width: 550;
}
.temp {
    height: 700px;
}
.breakGrid {
    clear: left;
}
#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}